#rsvp {
    background-color:#F8D0D0;
}

.searchName {
  display: flex;
}

div.ui.search {
  width: 99%;
  margin: auto;
  .ui.icon.input {
    width: inherit;
  }
  .results {
    border-radius: 15px;
  }
}

.fields {
  width: 100%;
  margin: auto;
}

.confirmForm, .guestForm {
  width: 100%;
}

.confirmField, .guestField {
  width: 20%;
}

.guest_name_field {
  margin-bottom: 5px;
}

.ui.button.nameBtn {
  padding: 5px;
  border-radius: 35px;
  width: 20%;
}

.submitBtn {
  width: 100%;
}

.dimmed.dimmable > .ui.modals.dimmer.visible {
  display: flex !important;
}

.ui.modal {
  position: relative;
  >.actions {
    margin-top: 15%;
    border-top: #FFF;
    background: #FFF;
  }
}

.visible {
  .transition {
    margin-top: auto !important;
    display: inline-block !important;
    position: relative;
    top: 20%;
  }
  
  .active {
    height: 50%;
    margin: auto;
    margin-bottom: 20%;
  }
}